@charset "utf-8";

/* HTML and Body Styles */
h1, h2 {
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 0.1em;
    padding-left: 15px;
    color: hsl(26, 42%, 19%);
    text-decoration-line: underline;

}
html {
    background-color:  hsl(47,22%,51%);
    padding: 30px;
    margin: auto;
}
body {
    background-color: hsl(39, 59%, 78%);
    margin: auto;
    width: 100%;
    max-width: 1020px;
    min-width: 640px;
    padding: 20px;
    border-style: hidden;
    border-radius: 12px;
    
}

body > p {
    font-family:'Courier New', Courier, monospace;
    margin: 35px;
    background-color: hsl(40, 58%, 89%);
    padding: 2px 10px 10px 20px;
    border-style: hidden;
    border-radius: 12px;
    text-align: center;
}

body > ol {
    font-family:'Courier New', Courier, monospace;
    margin-left: 45px;
    background-color: hsl(40, 58%, 89%);
    padding: 10px;
    border-style: hidden;
    border-radius: 12px;
}



/* Navigation */

nav {
    margin: auto;
    padding: 10px;
    background-color: hsl(36, 20%, 95%);
    border-style: hidden;
    max-width: 500px;
    text-align: center;
    
}

nav > ul 
{ 
    list-style-type: none;
}
nav > ul > li > a:link, nav > ul > li > a:visited {
   color: hsl(18, 71%, 27%);
   text-decoration: none;
}

nav > ul > li > a:hover, nav > ul > li > a:active {
   color: hsl(26, 42%, 19%);
   text-decoration: underline;
   text-transform: uppercase;
   font-size: 1.5em;
}

/*Footer*/
 Footer {
     font-family:'Courier New', Courier, monospace;
    margin-left: 45px;
    background-color: hsl(40, 58%, 89%);
    border-style: hidden;
 }
  Footer > p > a{
     font-family:'Courier New', Courier, monospace;
    margin-left: auto;
    color: hsl(18, 71%, 27%);
;
    border-style: hidden;
 }